<p>Ahoj,</p>

<p>děkujume za registraci týmu <strong>{$team}</strong> (ID: $id} na stránkách <a href="http://interlos.fi.muni.cz">http://interlos.fi.muni.cz</a>.</p>

<p>
S pozdravem,<br />
InterLoSí tým
</p>
