<p>Ahoj,</p>

<p>někdo požádal o z měnu hesla týmu <strong>{$team}</strong> (ID: {$id}) na stránkách <a href="https://interlos.fi.muni.cz">https://interlos.fi.muni.cz</a>. Změnu hesla můžete pomocí kódu {$code} dokončit na adrese <a href="https://interlos.fi.muni.cz/default/reset-password?code={$code}&name={$team}">https://interlos.fi.muni.cz/default/reset-password</a></p>

<p>
S pozdravem,<br />
InterLoSí tým
</p>
