parameters:
    productionMode: false
    debugMode: true

dibi:
    driver: mysqli
    charset: utf8
    host: db
    database: interlos_production
    user: user
    password: password
    lazy: true
    profiler: false

# On development machine
#tracy:
#    bar:
#        - Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)
#
#services:
#    nette.mailer:
#        type: Nette\Mail\IMailer
#        factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)

# On production

mail:
    smtp: true                  # switches to SmtpMailer from SendmailMailer
    host: smtp.example.com
    port: 25
    username: foo
    password: bar
    encryption:                     # allowed values ssl, tls, null
    timeout: 100
