parameters:
	keys:
		cron: G0QtPRurC7
		admin: eLYCSgYmDx	
	productionMode: true
	debugMode: false

dibi:
	driver: mysql
	charset: utf8
	host: localhost
	database: interlos_production
	user: root
	password: kiuttN0e0JKulEv8qbiH
	lazy: true
	profiler: false
