{block #content}
	<div class="main-block">
		<h1>O soutěži InterLoS</h1>
		<p>InterLoS je pětihodinová internetová týmová soutěž.</p>
		<p>Týmy řeší zadané úlohy, které jsou šifrovacího, logického nebo programovacího charakteru a jejich řešení odevzdávají prostřednictví webové stránky, která řešení okamžitě ověřuje. Za správně vyřešené úlohy získávají týmy body a okamžitě ovlivňují jejich pořadí na výsledkové listině.</p>
		<p>Úlohy mají různou obtížnost a soutěž je tedy vhodná jak pro začátečníky tak pokročilé. Navíc jsou soutěžící rozděleni do tří kategorií (středoškoláci, vysokoškoláci a ostatní) v nichž probíhá vyhodnocování samostatně.</p>
	</div>

	<div class="main-block">
		<h1>Pravidla soutěže</h1>
		<h2>Účastníci a týmy</h2>
		<ul>
			<li>Každý tým má 1 až 5 členů. Týmy s menším počtem členů nijak nezvýhodňujeme.</li>
			<li>Máme 3 soutěžní kategorie:
				<ul>
					<li><span class="bold">středoškoláci</span> &ndash; všichni členové týmu musí být studenti středních škol a nižších,</li>
					<li><span class="bold">vysokoškoláci</span> &ndash; všichni členové týmu musí být studenti vysokých škol a nižších,</li>
					<li><span class="bold">ostatní</span> &ndash; kdokoliv.</li>
				</ul>
			</li>
			<li>Účast v soutěži je zdarma.</li>
			<li>Odměnou za dobré umístění je prestiž a dobrý pocit, žádné jiné odměny nejsou.</li>
			<li>Řešení s jiným týmem/týmy, stejně jakož i poskytování řešení, návodů i rad jiným týmům je zakázané.</li>
			<li>Očekáváme od všech účastníků fair-play. Průběh hry monitorujeme a můžeme odhalit podvádění, nicméně předpokládáme, že hrajete proto, abyste si zahráli, a tudíž že podvádění nemá smysl. V případě, že takové chování odhalíme, budeme nuceni podvádějící týmy diskvalifikovat.</li>
		</ul>
		<div class="hr">&nbsp;</div>
		<h2>Komunikace</h2>
		<ul>
			<li>Diskuze neslouží ke komunikaci s organizátory ani ke komunikaci organizátorů s účastníky.</li>
			<li>Během hry je každý tým povinnen sledovat vývěsku s informacemi od organizátorů, kterou najdete po zahájení hry na každé stránce pod záhlavím.</li>
			<li>Během hry je každý tým povinen sledovat e-mailovou adresu uvedenou v profilu týmu při zahájení hry (před zahájením hry zkontrolujte, že máte v profilu uvedenou funkční adresu).</li>
			<li>Veškeré problémy s úlohami a odevzdávacím systémem hlaste z e-mailové adresy z profilu týmu na adresu <a href="mailto:interlos@fi.muni.cz"><strong>interlos@fi.muni.cz</strong></a>. V předmětu e-mailu musí být uvedeno ID týmu, který najdete v záhlaví stránky vedle jména.
		</ul>
		<div class="hr">&nbsp;</div>
		<h2>Úlohy a sady</h2>
		<ul>
			<li>Soutěž obsahuje 27 úloh rozdělených do 3 sad po 9 úlohách. Každá sada obsahuje právě 3 šifrovací, 3 logické a 3 programovací.</li>
			<li>Zadání každé sady je zveřejněno ve formátu PDF a případných příloh.</li>
			<li>Zadání úloh může být i ve slovenštině, nehledejte v tom žádnou šifru.</li>
			<li>Jestli není vážný důvod domnívat se o opaku, úlohy využívající abecedu pracují s 26-znakovou anglickou abecedou bez mezery.</li>
			<li>Řešením každé úlohy je právě jeden výsledný kód (heslo), které se skládá z číslic nebo velkých písmen anglické abecedy (tedy bez diakritiky) a neobsahuje mezery ani jiné speciální znaky. Získaný kód odevzdáváte pomocí formuláře v <a href="{link Game:default}">sekci úkoly</a>.</li>
		</ul>
		<div class="hr">&nbsp;</div>
		<h2>Průběh hry</h2>
		<ul>
			<li>Před začátkem hry budou zveřejněny odkazy na několik serverů se zadáním z důvodu rozložení zátěže. Vyberte si náhodně libovolný z nich.</li>
			<li>Sady úloh budou zveřejňovány (zpřístupněny) postupně:
				<ul>
					<li><span class="bold">první sada</span> na začátku hry v 15:00,</li>
					<li><span class="bold">druhá sada</span> v první třetině hry v 16:30 a</li>
					<li><span class="bold">třetí sada</span> v druhé třetině hry v 18:00.</li>
				</ul>
			</li>
			<li>Konec hry je ve 20:00. Všechny úlohy lze řešit až do konce hry.</li>
			<li>Nedostupnost sad krátce po čase zpřístupnění je normální a prosíme, abyste ji nehlásili.</li>
		</ul>
		<div class="hr">&nbsp;</div>
		<h2>Bodování</h2>
		<ul>
			<li>Za vyřešené úlohy získávají týmy body. Na základě bodů vzniká pořadí týmů, které zohledňuje pořadí odpovědí, počty špatných odpovědí a bonusů</li>
			<li>Za každou správnou odpověď je (1000-p) bodů, p označuje pořadí týmu u dané úlohy.</li>
			<li>Za každou nesprávnou odpověď je postih ve formě -30 bodů + penalizace v podobě 30 sekundového zablokování dalšího odevzdávání.</li>
			<li>Za každou vyřešenou trojici úloh různých typů je bonus 500 bodů.</li>
		</ul>
	</div>

	<div class="main-block">
		<h1>Rady a tipy</h1>
		<h2>Potřeby ke hře</h2>
		<ul>
			<li>Nutně alespoň 1 počítač s internetovým připojením a možností otevírat soubory PDF.</li>
			<li>Tiskárna, nejlépe barevná. Bez ní může být řešení některých úloh velmi obtížné.</li>
			<li>Papíry, tužky, pastelky, nužky...</li>
			<li>Maskot týmu (nejlépe los).</li>
			<li>Šifrovací pomůcky, například od <a href="http://chlyftym.cz/web/pomucky">Chlýftýmu</a>.</li>
		</ul>
		<div class="hr">&nbsp;</div>
		<h2>Strategie</h2>
		<p>Před začátkem hry je velmi vhodné domluvit si v týmu celkovou strategii: Které úlohy je výhodné řešit? Je lepší pracovat společně, po dvojicích, samostatně? Během hry máte dostupné statistiky, lze tak jednoduše zjišťovat, které úlohy jsou jednodušší než jiné, a které naopak těžké. I to zohledněte ve své strategii.</p>
		Pamatujte, že důležité je získat správný kód. Na míře elegantnosti, univerzálnosti programu, použití internetu a online dostupných nástrojů nezáleží. U některých úloh mohou být schůdné různé cesty, důležité je umět vybrat tu pravou, pomocí které získáte co nejrychleji kód.</p>
		<p>Svačina může přijít opravdu vhod.</p>
		<div class="hr">&nbsp;</div>
		<h2><p>Jak vypadají úlohy</h2>
		Snažíme se, aby úlohy byly rozmanité a různé obtížnosti, aby jednoduché mohl vyřešit skoro každý během pár minut a obtížné zabraly i nejlepším týmům pořádný kus času. Co očekávat od jednotlivých typů úloh:</p>
		<ul>
			<li><p><span class="bold">Logické úlohy</span> &ndash; úlohy s jasně formulovaným zadáním, které se řeší především pomocí tužky, papíru a hlavy (občas může být výhodné použít i počítač, ale ne vždy to musí jít).</p></li>
			<li><p><span class="bold">Programátorské a počítačové úlohy</span> &ndash; úlohy s jasně formulovaným zadáním, které se řeší především pomocí počítače. Typicky je součástí zadání dlouhý vstup a kódem je výstup programu nad títmto vstupem, ale může jít i o úlohy, které bude potřeba řešit pomocí tabulkového editoru, editorem obrázků či jiného běžně dostupného programu.</p></li>
			<li><p><span class="bold">Šifry a nápadové úlohy</span> &ndash; úlohy s nejasným zadáním, u kterých musíte hledat nápad, co s danou úlohou vůbec dělat... Může být potřeba dohledat informace na Internetu, šikovně se na zadání podívat, rozstříhat ho...</p></li>
		</ul>
		<p>Název úloh může být návodný (týká se především "nápadových úloh"). Pro představu se podívejte na <a href="{plink Archive:}">zadání z minulých let</a>.</p>
		<div class="hr">&nbsp;</div>
		<h2>Příklad bodování</h2>
		Předpokládejme, že tým vyřešil jednu programátorskou úlohu na 5. místě, dvě logické na 2. a 13. místě a jednu nápadovou úlouh na 8. místě a celkově odevzdal 6 špatných odpovědí. Získá tedy 996 + 999 + 988 + 993, -180 bodů za špatné odpovědi a 500 bodů bonus za jednu uzavřenou trojici úloh různých typů. Celkem tedy: 4296 bodů.
	</div>

	<div class="main-block">
		<h1>Kdo za to může</h1>
		<p>Soutěž InterLoS vám přináší organizátoři <a href="http://ksi.fi.muni.cz/">Korespondenčního Semináře z Informatiky</a>, studenti a učitelé <a href="http://muni.cz">Masarykovy univerzity</a> ve složení: Ondra Bouda, Honza Drábek, Tom Effenberger, Mirek Klimoš, Eva Krásenská, Heňo Lauko, Jiří Maara Marek, Peter Mroch Novák, Zuzka Petruchová, Béďa Said, Maja Svoreňová, Jana Tůmová a Martin Ukrop.</p>
		<p><a href="http://github.com/repli2dev/interlos-web">Bodovací systém</a> © 2009–2013 Jan Papoušek a Jan Drábek<br>
			Webdesign © 2013 Martin Ukrop<br>
			Ikony byly převzaté z The Noun Project od různých autorů:
			<a href="http://thenounproject.com/noun/house/#icon-No1439">house</a>,
			<a href="http://thenounproject.com/noun/chat/#icon-No19197">chat</a>,
			<a href="http://thenounproject.com/noun/team/#icon-No8501">team</a>,
			<a href="http://thenounproject.com/noun/maze/#icon-No12509">maze</a>,
			<a href="http://thenounproject.com/noun/stack-of-books/#icon-No16804">stack of books</a>,
			<a href="http://thenounproject.com/noun/gear/#icon-No5009">gear</a>,
			<a href="http://thenounproject.com/noun/wreath/#icon-No11886">wreath</a>,
			<a href="http://thenounproject.com/noun/key/#icon-No655">key</a> a
			<a href="http://thenounproject.com/noun/power/#icon-No94">power</a>.</p>
	</div>
{/block}