{block #content}

	<div class="main-block">
		<h1>InterLoS 2014 je za námi!</h1>
		<p><strong>Gratulujeme vítězům, děkujeme všem hráčům za účast, telefonní hovory&hellip;</strong></p>
		<ul>
			<li>Vítězové celkově: <strong>Akomodace hrachu</strong></li>
			<li>Vítězové v kategorii středoškoláci: <strong>Oxymoroni</strong> (Filip, Karolína, Matin, Radovan, Vendula)</li>
			<li>Vítězové v kategorii vysokoškoláci: <strong>paranoidontoza</strong> (Karel, Martin, Petr, Toufi, Vlasta)</li>
			<li>Vítězové v kategorii ostatní: <strong>Akomodace hrachu</strong> (Lucka, Michal, Mirek, Tomáš, Václav)</li>
			<li><a href="{link Archive:year2014}">podrobná výsledkovka</a></li>
		</ul>
	</div>
	
	{*<div class="main-block">
		<h1>Děkujeme za přízeň a těšíme se zase příští podzim.</h1>
	</div>*}

	<div class="main-block">
		<h1>INTERnetová LOgická Soutěž</h1>
		<a href="{$basePath}download/interlos2014.pdf" title="InterLoS 2014 (plakát)">
			<img class="poster" src="{$basePath}download/interlos2014.png" alt="InterLoS 2014 (plakát)">
		</a>
		<p>InterLoS je pětihodinová internetová týmová soutěž. Týmy řeší zadané, různě obtížné úlohy, které jsou šifrovacího, logického nebo programovacího charakteru. Řešení odevzdávají prostřednictví webové stránky, která je okamžitě ověřuje. Za správně vyřešené úlohy získávají týmy body, které okamžitě ovlivňují jejich pořadí na výsledkové listině.</p>

		<table id="overview">
			<tbody>
			<tr>
				<th><strong>Kdy</strong>:</th>

				<td><strong style="font-size:1.5em">sobota 6.&nbsp;12.&nbsp;2014</strong> od 15:00 &ndash; 20:00<br>
					Je <strong>nutné se <a href="{plink Team:registration}">zaregistrovat</a></strong> v termínu od 17. 9. 2014 do 5. 12. 2014.
				</td>
			</tr>

			<tr>
				<th><strong>Kde</strong>:</th>

				<td>kdekoliv, kam dosáhne Internet</td>
			</tr>

			<tr>
				<th><strong>Kdo</strong>:</th>

				<td>1–5 členné týmy ve třech kategoriích - středoškoláci, vysokoškoláci a ostatní</td>
			</tr>

			<tr>
				<th><strong>Kolik</strong>:</th>

				<td>úplně zdarma</td>
			</tr>
			<tr>
				<th><strong>O co</strong>:</th>

				<td>žádné ceny, akorát prestiž :)</td>
			</tr>
			</tbody>
		</table>
		<div class="cleaner-both">&nbsp;</div>
	</div>
	<div class="main-block">
		<h1>Kontakt</h1>
		<p>
			Pokud máte jakýkoliv dotaz, připomínku, námět apod.,
			napište nám na naši adresu <a href="mailto:interlos@fi.muni.cz" style="font-size:1.5em">interlos@fi.muni.cz</a>.
		</p>
	</div>
	<div class="main-block">
		<h1>Příznivci losů</h1>
		<div id="logos">
			<a href="http://muni.cz" title="Masarykova univerzita">
				<img src="{$basePath}images/logo-mu.png" alt="Masarykova univerzita"/>
			</a>
			<a href="http://fi.muni.cz" title="Fakulta informatiky MU">
				<img src="{$basePath}images/logo-fi.png" alt="Fakulta informatiky Masarykovy univerzity" />
			</a>
			<a href="http://ksi.fi.muni.cz" title="Korespondenční Seminář z Informatiky">
				<img src="{$basePath}images/logo-ksi.png" alt="Korespondenční seminář z informatiky" style="display:inline" />
			</a>
			<a href="http://mam.mff.cuni.cz/" title="Studentský matematicko-fyzikální seminář a časopis">
				<img src="{$basePath}images/logo-mam.png" alt="Studentský matematicko-fyzikální seminář a časopis" style="display:inline" />
			</a>
			<a href="http://www.vpsfree.cz/" title="VPSFree">
				<img src="{$basePath}images/logo-vpsfree.png" alt="VPSFree">
			</a>
		</div>
		<div class="cleaner-both">&nbsp;</div>
		<p>Soutěž InterLoS vám přináší organizátoři <a href="http://ksi.fi.muni.cz/">Korespondenčního Semináře z Informatiky</a>, studenti a učitelé <a href="http://fi.muni.cz">Fakulty informatiky</a> <a href="http://muni.cz">Masarykovy univerzity</a> ve složení:
		Martin Ukrop, Jan Drábek, Martin Hanžl, Jan Mrázek, Vladimír Štill, Ondřej Slámečka, Karel Kubíček, Heinrich Lauko, Jan Novotný, Jiří Novotný, Samuel Pastva, Jiří Marek, Martina Krasnayová a Eva Krásenská.</p>
	</div>
{/block}
