{block #content}
    <div class="main-block">
        <h1 class="center">Změna hesla</h1>
        {control resetPassword}
    </div>
{/block}

{block #head}
    {include parent}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{/block}
