{block #content}
	<div class="main-block">
		<h1 class="center">Změna hesla</h1>
		{control resetPassword}
	</div>
{/block}

{block #footer}
	{include parent}
	{DrabekDigital\Captcha\Assets\CaptchaFrontend::getJavascriptStatic(\DrabekDigital\Captcha\Enums\CaptchaType::TURNSTILE)|noescape}
	<script n:nonce>
		{DrabekDigital\Captcha\Assets\CaptchaFrontend::getLocalJavascriptStatic()|replace: '<script>', ''|replace: '</script>', ''|noescape}
	</script>
{/block}
