{extends ../@layout.latte}
{block content}
<div class="main-block">
	<h1>Soutěžní úkoly</h1>
	<p>Zadání sad se v určený čas objeví na níže uvedených adresách. Všechny adresy obsahují stejnou informaci a jsou uvedeny pouze pro zálohu (nikdy tedy není žádná úmyslně skrytá informace v rozdílech mezi verzemi).</p>

	<p>V případě výpadku serveru, na kterém běží systém hry nebo v případě opravy/upřesnění zadání obdržíte informace prostřednictvím stránky s informacemi, která se po přihlášení týmu automaticky zobrazuje v záhlaví každé stránky. V opravdu urgentních případech (kdy stránku s informacemi nelze načíst) budete informováni e-mailem an adresu, kterou jste uvedli při registraci.</p>

	{if  true || Interlos::isGameStarted()}
	<table id="puzzle-sources" cellspacing="0">
		<thead><tr>
			<th>popis</th>
			<th>čas dostupnosti</th>
			<th>InterLoS server</th>
			<th>mirror 1 (Yavanna)</th>
			{*<th>mirror 2 (FI)</th>*}
		</tr></thead>
		<tbody>

		<tr>
			<td>zadání sady 1</td>
			<td>od 15:00</td>
			<td>{*<a href="https://interlos.fi.muni.cz/download/years/2016/sada1/">sada 1</a>*}</td>
			<td>{*<a href="https://interlos.yavanna.cz/sada1/">sada 1</a>*}</td>
			{*<td><a href="http://www.fi.muni.cz/~xdrabek1/sada1/">sada 1</a></td>*}
		</tr>
		<tr class="even">
			<td>zadání sady 2</td>
			<td>od 16:30</td>
			<td>{*<a href="https://interlos.fi.muni.cz/download/years/2016/sada2/">sada 2</a>*}</td>
			<td>{*<a href="https://interlos.yavanna.cz/sada2/">sada 2</a>*}</td>
			{*<td><a href="http://www.fi.muni.cz/~xdrabek1/sada2/">sada 2</a></td>*}
		</tr>
		<tr>
			<td>zadání sady 3</td>
			<td>od 18:00</td>
			<td>{*<a href="https://interlos.fi.muni.cz/download/years/2016/sada3/">sada 3</a>*}</td>
			<td>{*<a href="https://interlos.yavanna.cz/sada3/">sada 3</a>*}</td>
			{*<td><a href="http://www.fi.muni.cz/~xdrabek1/sada3/">sada 3</a></td>*}
		</tr>
		<tr class="even">
			<td>řešení všech sad</td>
			<td>od 20:00</td>
			<td>{*<a href="https://interlos.fi.muni.cz/download/years/2016/reseni/">řešení</a>*}</td>
			<td>{*<a href="https://interlos.yavanna.cz/reseni/">řešení</a>*}</td>
			{*<td><a href="http://www.fi.muni.cz/~xdrabek1/sada1/">řešení</a></td>*}
		</tr>
		</tbody>
	</table>
	{else}
	<p><strong>Žádná zveřejněná zadání</strong></p>
	{/if}
</div>
<div class="main-block">
	<h1>Odevzdat řešení</h1>
	{if  $user->isLoggedIn()}
		{control answerForm}
	{else}
		<p><strong>Odevzdávání je zpřístupněno pouze přihlášeným týmům v čase hry.</strong></p>
	{/if}
</div>
<div class="main-block">
	<h1>Historie odpovědí</h1>
	{if  $user->isLoggedIn()}
		{control answerHistory}
	{else}
		<p><strong>Historie odpovědí je zpřístupněna pouze přihlášeným týmům v čase hry.</strong></p>
	{/if}
</div>
{*<div class="main-block">
	<h1>Statistika úkolů</h1>
	<p>Podrobnou statistiku celé hry najdete na <a href="{plink Stats:}">samostatné stránce</a>.</p>
	{control taskStats}
</div>*}
{/block}
