{extends ../@layout.latte}

{block #content}
	<div class="main-block">
		<h1>Statistika týmů</h1>
		<p>Podrobnou statistiku celé hry najdete na <a href="{plink Stats:}">samostatné stránce</a>.</p>
		{if $available}
			<p>Statistiky nemusí být zcela aktuální. Údaje pravidelně přepočítáváme.</p>
			{widget results}
		{else}
			<p>Momentálně nedostupné. Vyčkejte prosím chvíli.</p>
		{/if}
	</div>
	<div class="main-block">
		<h1>Seznam zúčastněných týmů</h1>
		{widget teamList}
	</div>
{/block}
