{extends ../@layout.latte}

{block #content}
	<div class="main-block">
		<h1>Registrace týmu</h1>
		{if Interlos::isRegistrationStarted()}
			{control teamForm}
		{else}
			<p><strong>Momentálně neprobíhá registrace, ta probíhá typicky měsíc před konáním soutěže.</strong></p>
		{/if}

	</div>
{/block}