{var $robots = noindex}

{block #content}
<div class="main-block">
    <h1 n:block=title>Stránka nenalezena</h1>

    <p>Požadovanou stránku se nepodařilo nalézt. Pokud věříte, že jde o chybu, kontaktujte nás.</p>

    <p><small>chyba 404</small></p>
</div>