{if \Interlos::isGameActive()}
	{var $team = \Interlos::getLoggedTeam()}
	{var $completeUrl = $url . "?headless=true"}
	{if $team != NULL}
		{var $completeUrl = $completeUrl . "&subject=InterLoS (tým ".$team->id_team.")"}
	{/if}
	<iframe class="info-frame" src="{$completeUrl}"></iframe>
{/if}